<%if (error.length > 0) { %>
    <p>Some kind of error happened. Check your login credentials</p>
<% } %>

<%- include('partials/loginForm.ejs') %>

<%if (locals.message.length > 0) { %>
    <%= locals.message %>
<% } %>