<div class="welcome">
<h2>Welcome, Guest!</h2>
<h3>Log in or register to see your dashboard!</h3>
<div class="buttons">
    <button>
        <a href="/users/login">Login</a>
    </button>
    <button>
        <a href="/users/register">Register</a>
    </button>
</div>
</div>
