* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e2e8f0;
}

.main-header {
    background-color: #b91c1c;
    font-size: 5rem;
    color: #fecaca;
    text-align: center;
}

.welcome {
    background-color: #e2e8f0;
    margin: auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome h2 {
    font-size: 3.5rem;
}

.welcome h3 {
    font-size: 2.5rem;
}

.welcome .buttons {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-evenly;
    width:100%
}