* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e2e8f0;
}

.main-header {
    background-color: #b91c1c;
    font-size: 5rem;
    color: #fecaca;
    text-align: center;
}

.welcome {
    background-color: #e2e8f0;
    margin: auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome h2 {
    font-size: 3.5rem;
    color: #7e22ce;
}

.welcome h3 {
    font-size: 2.5rem;
    color: #6d28d9;
}

.welcome .buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%
}

.buttons button {
    padding: .5rem 1.2rem;
    font-size: 1rem;
    background-color: #0284c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #bae6fd;
    font-weight: bold;
    transition: all .5s;
}
.buttons button:hover {
    background-color: #06b6d4;
}
.buttons button a {
    text-decoration: none;
    color: inherit;
}

.login-form {
    
    
    background-color: #c084fc;
  width: 50%;
  margin: auto;
    margin-top: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  color: #5b21b6;
}

.login-form .form-group {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form input[type="submit"]{
    align-self: center;
    padding: .5rem 1.2rem;
    font-size: 1rem;
    background-color: #6b21a8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #e9d5ff;
    font-weight: bold;
    transition: all .5s;
}
.login-form input[type="submit"]:hover{
    background-color: #7e22ce;
}

.login-form .form-group input[type="password"]{
    flex-grow: 1;
    background-color: #cffafe;
    background-color: #e9d5ff;
    border: none;
    border-radius: 5px;
    padding: .3rem;
}

.login-form .form-group input[type="email"]{
    flex-grow: 1;
    background-color: #cffafe;
    background-color: #e9d5ff;
    border: none;
    border-radius: 5px;
    padding: .3rem;
}

.login-form .form-group label {
    flex-basis: 110px;
}

.ani-fadein {
    animation: fade-in 1.2s;
  }
  
.ani-fadeout {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
  }

  .error-message {
    width: 50%;
    margin-inline: auto;
    margin-block: 1rem;
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    background-color: rgb(244 63 94);
    color: rgb(252 231 243);
    box-shadow: 1px 1px 8px 0px rgb(244 63 94);
    font-size: 4rem;
    cursor: pointer;
}